<a class="btn btn-primary mt-3" data-bs-toggle="collapse" href="#collapseExample" role="button"
   aria-expanded="false"
   aria-controls="collapseExample">
    Message editor
</a>
<div class="collapse <#if message??>show</#if>" id="collapseExample">
    <form method="post" enctype="multipart/form-data" class="mt-3">
        <div class="mb-3">
            <input type="text" class="form-control ${(textError??)?string('is-invalid', '')}"
                   value="<#if message??>${message.text}</#if>" name="text" placeholder="Enter your message">
            </input>
            <#if textError??>
                <div class="invalid-feedback">
                    ${textError}
                </div>
            </#if>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control ${(tagError??)?string('is-invalid', '')}"
                   value="<#if message??>${message.tag}</#if>" name="tag" placeholder="Tag">
            </input>
            <#if tagError??>
                <div class="invalid-feedback">
                    ${tagError}
                </div>
            </#if>
        </div>
        <div class="mb-3">
            <div class="input-group">
                <input type="file" name="file" class="form-control" id="inputGroupFile04"
                       aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                </input>
            </div>
        </div>
        <div class="mb-3">
            <input type="hidden" name="_csrf" value="${_csrf.token}"></input>
            <input type="hidden" name="id" value="<#if message??>${message.id}</#if>"></input>
        </div>
        <button type="submit" class="btn btn-primary">Save message</button>
    </form>
</div>